<!DOCTYPE html>
<html ng-app="catalogo">
	<head>
		<meta charset="UTF-8">
    	<title>Bem-vindo</title>

		<!-- Optional theme -->
		<link rel="stylesheet" href="dist/css/style.css">

		
	</head>

	<body ng-controller='FilmesController'>
		<section>
			<%- include header.ejs %>
			<h1>Bem vindo ao treinamento de MEAN Stack do Alura!</h1>
			<ul>
				<li ng-repeat="filme in filmes">
					<a href="#" ng-click="mostraFilme(filme)">{{filme.titulo}}</a>
				</li>
			</ul>
			<div ng-if="filmeSelecionado">
				<dl>
					<dd>Titulo</dd>
					<dt>{{filmeSelecionado.titulo}}</dt>
					<dd>Diretor</dd>
					<dt>{{filmeSelecionado.diretor}}</dt>
					<dd>Ano</dd>
					<dt>{{filmeSelecionado.ano}}</dt>
				</dl>

				<a href="#" ng-click="deletaFilme(filmeSelecionado)">Deletar filme {{filmeSelecionado.titulo}}</a>
				<a href="#" ng-click="editarFilme(filmeSelecionado)">Editar filme {{filmeSelecionado.titulo}}</a>
			</div>

			<form ng-submit="enviaFilme()">
				Titulo: <input ng-model="filme.titulo">
				Diretor:<input ng-model="filme.diretor">
				Ano: <input ng-model="filme.ano">
				<input type="submit">
			</form>	
		</section>


		<script src='/dist/js/scripts.js'></script>
		<script src='/javascripts/main.js'></script>
		<script src='/javascripts/FilmesController.js'></script>
		
	</body>
</html>