<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
    	<title>Bem-vindo</title>

		<!-- Base Style File -->
		<link rel="stylesheet" href="dist/css/style.css">

	</head>
	<body>
			
		<%- include header.ejs %>
		<div id="container">

		</div>
			
		<%- include footer.ejs %>
		<!-- Base Javascript File -->
		<script src='dist/js/scripts.js'></script>
 	</body>
</html>	