<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
<<<<<<< HEAD
    	<title>Bem-vindo</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


	</head>
	<body>
			
		<%- include header.ejs %>
		<div id="container"></div>
			
		<%- include footer.ejs %>
			
 	</body>
</html>





