<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="BI-SOFTPLAN" class="img-responsive text-center" src="modules/core/img/brand/logo.jpg" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Portal BI
			</p>
		</div>
		<div class="row">
			<div class="row">
				
				<div data-ng-include="'/modules/users/views/authentication/signin.client.view.html'" data-ng-hide="authentication.user"></div>

			</div>
		</div>
	</div>
	
	

</section>